<div class="center jumbotron">
  <h1>Zdarova</h1>
  <h2>
    Hello! Let's check if i can add my IG link...
    <a href='https://www.instagram.com/sashaheisenberg/'> Instagram account </a>
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn-lg btn-primary" %>
</div>
