<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <a href="https://www.instagram.com/sashaheisenberg/">Instagram account</a>.
  To see the source code check my Github repository
  <a href="https://www.github.com/alexandra1501/sample_app"><em>Repo</em></a>.
</p>
